$brand-white: #fff;

$stop-button-gradient-top: rgba(229, 42, 19, 1);
$stop-button-gradient-bottom: rgba(181, 34, 16, 1);

$caution-button-gradient-top: rgba(255, 192, 27, 1);
$caution-button-gradient-bottom: rgba(204, 154, 22, 1);

.brakevalve {
  &.btn-stop {
    background: linear-gradient(to bottom, $stop-button-gradient-top 5%, $stop-button-gradient-bottom 95%);
    color: $brand-white;
    cursor: no-drop;
  }

  &.btn-caution {
    background: linear-gradient(to bottom, $caution-button-gradient-top 5%, $caution-button-gradient-bottom 95%);
    color: $brand-white;
  }

  &.info-box {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    width: 100%;
  }

  &.chart-box {
    margin: 1.5rem auto;
  }
}
